<head>
{% include google_adsense.html %}
</head>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <!-- post 상단 광고 -->
  <div style="text-align:center;">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1417168851392905"
             data-ad-slot="9984132080"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
  </div>


  <div class="post-content" itemprop="articleBody">
    {{ content }}

  </div>
 
{% if page.comments != false %}
  {% include disqus_comments.html %}
{% endif %}
</article>
